################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ImageResizeSoft/.vs
/ImageResizeSoft/obj
/ImageResizeSoft/ImageResizeSoft.csproj.user
