<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageResizeSoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageResizeSoft.Properties.Settings>
            <setting name="Input_FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting_RatioWidth" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="Setting_RatioHeight" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="Setting_RatioIsAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_PixelWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="Setting_PixelHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="Setting_PixelIsAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Output_IsImageFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Output_IsSelectedFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Output_SelectedFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Output_MakeFolderName" serializeAs="String">
                <value>resized</value>
            </setting>
            <setting name="Output_FilePattern" serializeAs="String">
                <value>sml_</value>
            </setting>
            <setting name="Output_Extention" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Output_IsAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_TabIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </ImageResizeSoft.Properties.Settings>
    </userSettings>
</configuration>